body {background-color:green}
a{text-decoration: none;}
.alcim {
    padding: 20px;
background-color:darkseagreen;
}
a{text-decoration: none;
color: red;}
div {border-style: solid blue 1px;
margin-top: 10px; margin-bottom: 10px;}
